@import 'reset'
@import 'grid'

$blue: #6CDFEA

body
  font-family: Helvetica, Arial, sans-serif
  line-height: 1.8
  background-image: linear-gradient(bottom, rgb(242,254,255) 100%, rgb(186,250,255) 0%)
  background-image: -o-linear-gradient(bottom, rgb(242,254,255) 100%, rgb(186,250,255) 0%)
  background-image: -moz-linear-gradient(bottom, rgb(242,254,255) 100%, rgb(186,250,255) 0%)
  background-image: -webkit-linear-gradient(bottom, rgb(242,254,255) 100%, rgb(186,250,255) 0%)
  background-image: -ms-linear-gradient(bottom, rgb(242,254,255) 100%, rgb(186,250,255) 0%)

h1
  font-size: 36px
h2
  font-size: 24px

p
  font-size: 18px

#container
  +row(12)
  margin: auto